html,
body {
  overflow-x: hidden;
}

/* accordion */
/* styles.css */

/* Reset CSS untuk menghindari margin dan padding yang tidak diinginkan */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  left: -100px;
}

::-webkit-scrollbar-track {
  background: #fdfdfd !important;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb {
  background: #f5a425 !important;
  border-radius: 30px;
}

/* Kontainer utama untuk menata elemen-elemen accordion secara horizontal */
.accordion-container {
  padding: 29px;
  display: flex;
  justify-content: space-evenly;
  overflow-x: scroll;
  gap: 20px; /* Jarak antar elemen lebih dekat */
}

/* Setiap item accordion */
.accordion-item {
  min-height: 400px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-width: 80px; /* Lebar default yang lebih kecil saat tidak aktif */
  height: 200px; /* Tinggi tetap sama untuk setiap item */
  overflow: hidden;
  transition: width 1s ease !important; /* Transisi untuk perubahan lebar */
  transition: min-width 0.5s ease !important; /* Transisi untuk perubahan lebar */
  margin-right: 5px; /* Mengurangi jarak antar elemen */
  position: relative;
}

/* Gambar dalam item accordion */
.accordion-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Judul elemen accordion */
.accordion-header {
  background: transparent !important;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 1; /* Agar judul berada di atas gambar */
  height: 100%;
  writing-mode: vertical-rl; /* Judul dibaca dari bawah ke atas untuk elemen tidak aktif */
  transform: rotate(180deg); /* Mengatur teks agar dibaca dari bawah ke atas */
  transition: transform 1s ease, background-color 1s ease, writing-mode 1s ease;
}
.accordion-header h5 {
  background: #f5a425;
  stroke: 3px solid #f5a425;
  border-radius: 30px;
}

/* Konten yang akan ditampilkan saat item aktif */
.accordion-content {
  display: none;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: opacity 1s ease;
}

/* Efek saat item aktif (melebar dan menampilkan konten) */
.accordion-item.active {
  min-width: 800px; /* Elemen memperlebar saat aktif */
  display: flex; /* Mengatur layout gambar dan konten teks secara berdampingan */
  position: relative;
  justify-content: flex-start;
  color: black;
}

/* Judul saat aktif */
.accordion-item.active .accordion-header {
  transform: translateY(-50%) rotate(0deg); /* Pindahkan judul ke atas dan baca dari kiri ke kanan */
  background-color: rgba(
    255,
    255,
    255,
    1
  ); /* Ganti warna latar belakang saat aktif */
  writing-mode: horizontal-tb; /* Membaca teks dari kiri ke kanan */
  margin-top: 5%;
  height: min-content;
  margin-left: 40%;
}
.accordion-item.active .accordion-header h5 {
  color: black;
  background: none;
}

/* Gambar latar belakang untuk item yang aktif akan berada di kiri */
.accordion-item.active .accordion-image {
  width: 40%; /* Gambar akan mengisi sebagian elemen */
  height: 100%; /* Gambar tetap tinggi */
  object-fit: cover; /* Gambar tetap proporsional */
}

/* Teks konten akan berada di sebelah kanan gambar */
.accordion-item.active .accordion-content {
  display: block; /* Menampilkan konten saat aktif */
  opacity: 1; /* Menampilkan konten dengan transisi */
  width: 60%; /* Lebar konten teks */
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Konten teks memiliki latar belakang transparan */
  margin-left: 40%; /* Jarak antara gambar dan konten */
  margin-top: -500px;
}
/* Teks konten akan berada di sebelah kanan gambar */
.accordion-item.active .accordion-content p {
  margin-top: -300px !important;
}

/* Efek saat item tidak aktif (mengecil dan hanya menampilkan judul) */
.accordion-item:not(.active) .accordion-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Menyembunyikan teks yang lebih panjang */
}

/* Mengatur posisi konten agar muncul di bawah judul */
.accordion-item:not(.active) .accordion-content {
  display: none;
}

/* #navhed {
  display: flex;
  justify-content: space-between;
} */
.nama {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -990;
}
.menu-link {
  position: relative;
  z-index: 999;
}
.nama h2,
.nama span {
  font-size: 20px;
}
@media (max-width: 400px) {
  .nama {
    display: block;
    position: absolute;
    top: 60%;
    left: calc(73% - 80px);
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
@media (min-width: 951px) {
  .nama {
    display: none;
  }
  .nama h2,
  .nama span {
    font-size: 25px;
  }
}
@media (min-width: 1250px) {
  .nama {
    display: block;
    position: absolute;
    top: 60%;
    left: calc(25% - 80px);
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .nama h2,
  .nama span {
    font-size: 25px;
  }
}
section#hub {
  background-color: #172238;
  margin: -5px;
  padding: 5px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#hub .link-icon .icons {
  background-color: transparent;
}
section#hub a .bi {
  color: aliceblue;
  font-size: 3rem;
}
section#hub a .bi:hover {
  color: #f5a425;
  text-shadow: 0 0 50px #f5a425;
}
.link-icon {
  background-color: transparent;
  text-decoration: none;
}
ul#fasilitas {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 10px;
  margin-left: 15px;
}
ul#program {
  display: block;
}
ul#exkul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  margin-left: 15px;
}
ul#fasilitas li {
  color: black;
  text-align: left;
  font-size: 15px;
  margin: 5px;
  position: relative;
}

ul#program li {
  color: black;
  text-align: left;
  font-size: 15px;
  position: relative;
  margin-left: 30px;
}
ul#exkul li {
  color: black;
  text-align: left;
  font-size: 15px;
  margin: 5px;
  position: relative;
}
ul#fasilitas li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f5a425;
  box-sizing: content-box;
  box-shadow: 0 0 500px #f5a425;
  z-index: 10;
}
ul#program li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f5a425;
  box-sizing: content-box;
  box-shadow: 0 0 500px #f5a425;
  z-index: 10;
}
ul#exkul li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f5a425;
  box-sizing: content-box;
  box-shadow: 0 0 500px #f5a425;
  z-index: 10;
}
#hub {
  border-radius: 20px;
  background-color: #f5a425;
}
a#hub:hover {
  border: 1px solid #f5a425;
  background-color: aliceblue;
}
.coming-soon .container {
  color: aliceblue;
}
.coming-soon .container h1 {
  margin-top: -50px;
  text-align: center;
}
.coming-soon .container p {
  font-size: 1rem;
}
.list-group li {
  background-color: transparent;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: flex-start;
  padding: 0;
}
.list-group li span {
  margin: 0 5px;
  font-size: 1rem;
}
.list-group li p {
  font-size: 1rem;
}
nav#menu {
  overflow-y: hidden;
}
.left-content ul li {
  margin: 0;
  padding: 5px;
}
#totop {
  scroll-behavior: smooth;
}
#vision {
  display: flex;
  flex-direction: column;
  margin-top: 50px !important;
}
.dot-tabs {
  padding: 0 50px;
}

.mySwiper {
  background-color: #172238;
}
#gallery {
  background-color: #172238;
  padding-bottom: 50px;
}
#sosmed {
  background-color: #172238;
  margin-top: -200px;
}
#sosmed div {
  margin-bottom: 10px;
}
swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  filter: drop-shadow(0 5px 5px #172238);
}
#whatsapp {
  position: fixed;
  right: 5%;
  bottom: 10%;
  z-index: 999;
  background-color: #1adb3a;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #1adb3a;
}
a#whatsapp i#wa:hover {
  color: rgb(222, 233, 74);
  box-shadow: 0 0 25px 5px #1adb3a;
}

/* media queries */
@media (max-width: 768px) {
  .vimi {
    text-align: center;
  }
  .dot-tabs {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .down-content {
    height: 550px;
  }
}
@media (min-width: 1024px) {
  .down-content {
    height: 450px;
  }
}
@media (min-width: 1005px) {
  .down-content {
    height: 450px;
  }
}
@media (max-width: 992px) {
  .down-content {
    height: 360px;
  }
}
@media (max-width: 912px) {
  .down-content {
    height: 370px;
  }
}
@media (max-width: 853px) {
  .down-content {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .down-content {
    height: 470px;
  }
}
@media (max-width: 741px) {
  .down-content {
    height: 350px;
  }
}
@media (max-width: 576px) {
  .down-content {
    height: 400px;
  }
}
@media (max-width: 540px) {
  .down-content {
    height: 250px;
  }
}
@media (max-width: 430px) {
  .down-content {
    height: 280px;
  }
}
@media (max-width: 412px) {
  .down-content {
    height: 300px;
  }
}
@media (max-width: 360px) {
  .down-content {
    height: 330px;
  }
}
